.info {
  position: relative;
  margin: 0px 25%;
  bottom: 75px;
  width: 50%;
}
.info p {
  text-align: left;
}

a {
  color: rgb(223, 223, 223);
  font-weight: bold;
  text-shadow: 3px 3px 5px #363736;
}

@media (max-width: 450px) {
  .info {
    position: relative;
    top: 48%;
    left: -9%;
    margin: 0 12%;
    bottom: 0px;
    width: 100%;
  }
}